<!DOCTYPE html>
<html lang="en">
<head>
  <title>#{title}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
</head>
<body>

div.jumbotron.text-center
  h1 #{title}

<div class="container">
  <div class="row">
    each article in news
      div.col-sm-4.news(style="width:auto")
        a(href=`${article.url}` target="_blank")
          img(src=`${article.urlToImage}` alt=`${article.title}` width="100%" min-height="50%")
          h3.title #{article.title}
          p.content
            | #{article.description}
  </div>
</div>

</body>
</html>
